<h2 class="index-logo"> Here is the list of your workouts </h2>

<a href="workouts/new"><button  class="new-workout-button" href="workouts/new"> Lets track that most recent workout you did you stud!</button></a>
<br>
<% counter = 1 %>
<% @workouts.each do |workout| %>
  <h3 class="workout-counter">Workout #<%= counter %> </h3>
  <br>
  <% counter += 1 %>
  <% if workout.user_id = current_user.id %>
    <p>You completed this workout on <%= workout.date %></p>
    <p>You were at "<%= workout.location %>" when you cranked those weights boiiiii</p>
    <p> The goal you set were: "<%= workout.goal %>" for your next workout </p>
    <p> You described the workout as <%= workout.review %> </p>
    <% end %>
  <br>
<% end %>


<br>
<br>
