<div class="user-div">
  <h1 class="user-info user-logo"> Your information </h1>
  <h4 class="user-info user-email"> <%= @user.email %> </h4>
  <h4 class="total-workouts user-info"> <%= @user.workouts.length %> workouts tracked!! </h4>
  <p class="user-info user-time">Created on: <%= @user.created_at.month  %>/<%= @user.created_at.day %>/<%= @user.created_at.year %></p>

  <h2 class="maxes"> Your maxes! </h2>
</div>

<div class="user-div">
  <% if @user.accountability_switch %>
  <h2 class="user-info user-email">You opted in for accountability: <%=@user.accountability_switch%></h2>
  <h2 class="user-info user-email">Your accountability buddy's email: <%=@user.accountability_buddy_email %></h2>
  <h2 class="user-info user-email">You wagered <%=@user.dollar_amount %> that you would complete <%=@user.workouts_per_week %> workouts per week </h2>
</div>
  <% end %>

<div class="user-lifts-and-pic">
<!-- take2 -->
  <img class="img-card" src="https://mbrooksfit.files.wordpress.com/2017/07/frontsquat.jpg?w=676"/>
  <div class="float-user-info">
    <h4 class="user-info user-lifts">Squat: <%=@user.max_squat %> </h4>
    <h4 class="user-info user-lifts">Deadlift: <%=@user.max_dead_lift%> </h4>
    <h4 class="user-info user-lifts">Bench: <%=@user.max_bench_press%></h4>
</div>
</div>


</div>
  <h2 class="user-info">Your lifts over time</h2>
<div id="app">
</div>
