<div class="user-div">
  <h1 class="user-info user-logo"> Your information </h1>
  <h2 class="user-account">Your account </h2>
  <h4 class="user-info user-email"> <%= @user.email %> </h4>
  <h4 class="total-workouts user-info"> <%= @user.workouts.length %> workout tracked!! </h4>
  <p class="user-info user-time">Created on: <%= @user.created_at.month  %>/<%= @user.created_at.day %>/<%= @user.created_at.year %></p>

  <h2 class="user-info maxes"> Your maxes! </h2>
  <h3 class="user-info user-lifts"> Squat: <%=@user.max_squat%> </h3>
  <h3 class="user-info user-lifts"> Bench: <%=@user.max_bench_press%> </h3>
  <h3 class="user-info user-lifts"> Deadlift: <%=@user.max_dead_lift%> </h3>

</div>
  <h2 class="user-info">Your lifts over time</h2>
<div id="app">
</div>
