
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>ALERT!!!! It is <%=Time.now%></h1>
    <p>
      <%=params[:email]%> messed up!!! They didn't complete the <%=params[:workouts] %> workouts that they signed up for!!!
    </p>
    <p>
      They have to pay <%=params[:buddy_email]%> (you) <%=params[:dollars]%> dollars!!!
    </p>
    <p>Thanks for being a part of Maxed Out and have a great day!</p>
  </body>
</html>
