<!DOCTYPE html>
<html>
<head>
  <title>Maxed Out</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%= stylesheet_link_tag 'application', media: 'all' %>

    <%= javascript_include_tag "vendor/modernizr" %>

  <%= csrf_meta_tags %>
  <link href="https://fonts.googleapis.com/css?family=Hammersmith+One" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Economica" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Russo+One" rel="stylesheet">
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyARpyx2vtwIUaTUlGRDYehEAjSnudmtW2E&libraries=places"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
</head>
<body>

  <nav class="top-bar">
    <h1 class="title-area name title-site"><a  id="project-name" href="/">Maxed Out</a></h1>
    <div id ="top-bar-devise">
    <section class="menu title-site top-bar-section title-site top-bar-right">
        <%- if current_user -%>
          <h2><a class="title-site" href="/users/<%=current_user.id%>">Profile</a></li>
          <h2 class="title-site"><%= link_to 'Sign Out', destroy_user_session_path, method: :delete, class: "title-site" %></li>
        <%- else -%>
          <h1><%= link_to 'Sign Up', new_user_registration_path, class: "title-area", id: "sign-up" %></li>
          <h1><%= link_to 'Sign In', new_user_session_path, class: "title-area", id: "sign-in" %></li>
        <%- end -%>
      </ul>
    </section>
  </div>
  </nav>

  <%- flash.each do |key, value| -%>
    <div class="flash flash-<%= key %>">
      <%= value %>
    </div>
  <%- end -%>

  <%= yield %>

  <%= javascript_include_tag 'application' %>

  <%- if Rails.env.development? || Rails.env.test? -%>
    <%= javascript_tag do %>
      window.railsEnv = '<%= Rails.env %>'
    <%- end -%>
  <%- end -%>
  <%= javascript_pack_tag 'application' %>

  <%= yield :extra_footer %>
</body>
</html>
